
body, html{
    background-image: url("../../assets/images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    text-align: center;
    right: 10%;
    left: 10%;
    color: white;
    margin: 20px;
    font-size: 40%;
}

.card {
    border-color: black;
    border-style: ridge;
    background-color: black;
    opacity: .9;
    margin-top: 175px;
    font-weight: bold;
    color: white;
}

.card-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    opacity: none;
}

